.buttons{
    float: left;
    width: 42px;
    height: 42px;
    background-color:lightgray;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.buttons:hover{
    background-color: lightcyan;
    cursor: pointer;
}

.display{
    width: 250px;
    height: 60px;
    border: 1px solid black;
    overflow: hidden;
}

.keys{
    width: 260px;
    height: 208px;
}

.totalLabel{
    width: 250px;
    height: 20px;
    text-align:right;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.numLabel{
    width: 250px;
    height: 40px;
    text-align:right;
    font-size: 30px;
    padding: 0px;
    border: 0px;
    outline: none;
}